<form [formGroup]="hideForm" (ngSubmit)="onSubmit()">
    <p>Tweet secret:</p>
    <input type="text" id="tweet-secret" formControlName="tweetSecret" />

    <div>
        <p>Tweet image:</p>
        <input type="radio" formControlName="imageMethod" name="imageMethod" id="cat" value="cat" checked />
        <label for="cat">MEOW!</label>
        <input type="radio" formControlName="imageMethod" name="imageMethod" id="local" value="local" />
        <label for="local">Upload image</label>

        <input
            *ngIf="hideForm.controls.imageMethod.value === 'local'"
            type="file"
            accept=".png"
            id="tweet-image"
            formControlName="tweetImage"
            (change)="onFileChange($event)" />

        <button
            *ngIf="hideForm.controls.imageMethod.value === 'local' && hideForm.controls.tweetImageSource.value"
            type="button"
            (click)="showPreview()">
            Toggle Preview
        </button>
    </div>

    <button type="submit">Submit</button>
</form>

<img *ngIf="image" [src]="image" width="200px" />
