<div class="content">
  <button mat-raised-button color="warn" *ngIf="twitterService.authStatus() | async" (click)="twitterService.logout()">
    <mat-icon svgIcon="twitter"></mat-icon>
    Logout
  </button>
  <button
    mat-raised-button
    class="twitter-colors"
    *ngIf="(twitterService.authStatus() | async) === false"
    (click)="twitterService.authorize()">
    <mat-icon svgIcon="twitter"></mat-icon>
    Login with Twitter
  </button>

  <div [class.grid-desktop]="(isHandset$ | async) === false">
    <mat-card appearance="outlined" class="card">
      <mat-card-title>Upload tweet</mat-card-title>

      <mat-card-content>
        <form [formGroup]="hideForm">
          <label for="tweetSecret" class="mat-subtitle-2">Tweet Secret:</label>

          <mat-form-field appearance="fill">
            <textarea
              matInput
              id="tweetSecret"
              formControlName="tweetSecret"
              placeholder="Place your signed transaction here"></textarea>
            <mat-error>Invalid secret</mat-error>
          </mat-form-field>

          <label id="image-method-label" class="mat-subtitle-2">Tweet image:</label>
          <mat-radio-group formControlName="imageMethod" aria-labelledby="image-method-label">
            <mat-radio-button name="imageMethod" id="cat" value="cat" checked> Random Cat Image </mat-radio-button>

            <mat-radio-button name="imageMethod" id="local" value="local"> Upload Image</mat-radio-button>
          </mat-radio-group>

          <input
            *ngIf="hideForm.controls.imageMethod.value === 'local'"
            type="file"
            accept=".png"
            id="tweetImage"
            formControlName="tweetImage"
            (change)="onFileChange($event)" />

          <button
            mat-flat-button
            color="primary"
            *ngIf="hideForm.controls.imageMethod.value === 'local' && hideForm.controls.tweetImageSource.value"
            type="button"
            (click)="showPreview()">
            Toggle Preview
          </button>

          <img *ngIf="image" [src]="image" width="200px" />

          <label id="blockchain-label" class="mat-subtitle-2">Blockchain:</label>
          <mat-radio-group formControlName="blockchain" aria-labelledby="blockchain-label">
            <mat-radio-button name="blockchain" id="main" value="main">Mainnet</mat-radio-button>

            <mat-radio-button name="blockchain" id="test" value="test" checked>Testnet</mat-radio-button>
          </mat-radio-group>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-flat-button
          color="accent"
          type="submit"
          (click)="hideFormSubmit()"
          [disabled]="(twitterService.authStatus() | async) === false">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card appearance="outlined" class="card">
      <mat-card-title>Retrieve secret</mat-card-title>

      <mat-card-content>
        <form [formGroup]="retrieveForm">
          <label class="mat-subtitle-2">Tweet ID/URL:</label>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>ID/URL</mat-label>
            <input matInput type="text" id="tweetId" formControlName="tweetId" />
            <mat-error>Invalid ID/URL</mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-flat-button
          color="accent"
          type="submit"
          (click)="retrieveFormSubmit()"
          [disabled]="(twitterService.authStatus() | async) === false">
          Search reply
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
