.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    padding-top: 32px;
}

.twitter-colors {
    background-color: #1da1f2;
    color: white;
}

.grid-desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    margin: 16px;
    padding: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
}

img {
    align-self: center;
}
